@import 'dev/variables.less';
//@import 'src/rplannerWrapper.less';

@import '_plugins/traj/pickerDivs.less';
@import '_plugins/traj/airspace.less';


@widthOfMyPlugin: 400px;

.onwindy-plugin-traj {
    .left-border {
        left: @widthOfMyPlugin;
    }
    #search {
        display: none;
    }
}



#windy-plugin-traj {
    width: @widthOfMyPlugin;
    .title{
        color:white;
        text-shadow: 0px 0px 8px @myred;
        font-size:18px; font-weight:bold; text-align:center;
    }

    .plugin-content {
        //position:relative;
        padding: 6px 6px 6px 6px;
        border-radius:5px;
        margin: 2px;
        //height:auto;
        font-size: 13px;
        color: white;
        line-height: 1.1;
        background-color:rgba(0,0,0,0.7);
    }
    .trajColor{
        outline:none;
        border:1px solid rgba(255,255,255,0.3);
        background-color:transparent;
        width:140px;
        margin:1px;
        border-radius:2px;
    }
    .heading{
        font-size:14px; font-weight:bold; cursor:pointer; margin-bottom:10px;
    }

}

.start-buttons{
    margin:3px 0.5px 1px 0.5px;
    padding:3px 0px 3px 0px;
    text-align:center;
    font-size:11px;
    width: 19.5%;
    border:1px solid rgba(255,255,255,0.5);
    border-radius: 7px;
    display:inline-block;
    background-color:rgba(0,0,0,0.5);
    cursor:pointer;
}

.thumb{
    position:absolute;
    top:0px;
    pointer-events:none;
    background-color: @darkorange;
    position:absolute;
    margin:2px;
    width:14px;
    height:14px;
    border-radius:6px;
    border:1px solid rgba(0,0,0,0.8);
}
.rangeWrap{
    position:relative;
    display:inline-block;
    height:20px;
    border-radius:8px;
    border:1px solid rgba(255,255,255,0.5);
    background-color:rgba(0,0,0,0.2);
    margin:1px 0px 1px 0px;
    overflow:hidden;
}
.rangeInput{
    left:3px;
    height:20px;
    top:-1px;
    position:absolute;
    width:calc(100% - 6px);
    z-index:999;
    opacity:0;
}
.rangeLabels{
    position:relative;
    display:inline-block;
    text-align:center;
    font-size:9px;
    opacity:0.3
}

.settings-fld{
    position:relative;
    display:inline-block;
    font-size:12px;
    width:120px;
    vertical-align:50%;
    margin-left:5px;
}
.lvlspan{
    display:inline-block;position:relative;width:48px;
}
#display-fav-div{
    font-size:12px;
    cursor:pointer;
    color:@darkorange;
    display:inline-block;
    opacity:0.7;
    pointer-events:auto;
    vertical-align:top;
    position:relative;
    left:-25px; top:10px;
}
#fav-div{
    pointer-events:auto;
    font-size:9px;
    white-space:normal;
    display:none;
    vertical-align:top;
    position:relative;
    left:-18px;
    padding:5px 5px 3px 5px;
    border-radius:7px;
    background-color:rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.6);
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.msg-div{
    position:absolute;
    font-size:30px;
    top:30%;
    left:50%;
    color:white;
    transform:translate(-50%,-50%);
}


.rplanner-button{
    box-sizing: border-box;
    position:absolute;
    text-align:center;
    margin:1.5px;
    padding:2px;
    left:28px;
    width:80px;
    height:24px;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.6);
    cursor:pointer;
    overflow:hidden;
    font-size:13px;
    background-color:rgba(157,3,0);
    color:white;
}

.rplanner-help-box{
    position:absolute;
    display:none;
    background-color: @white;
    color: @grayFont;
    bottom:calc(100% + 50px);
    padding:5px;
    left:2px;
    width:auto;
    height:auto;
    max-height:400px;
    max-width:500px;
    overflow-y:auto;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.6);
}

.my-rplanner-closing-x{
   font-size:22px;
   right:-1px;
   margin:1px;
   top:2px;
   border-radius:4px;
   height:24px;
   width:24px;
   border:1px solid rgba(0,0,0,0.5);
}
